<!-- The Top Bar -->

<div id="topbar-wrapper">
  <div
    id="topbar"
    class="container d-flex align-items-center justify-content-between h-100"
  >
    <span id="breadcrumb">
      {% assign paths = page.url | split: '/' %}

      {% if paths.size == 0 or page.layout == 'home' %}
        <!-- index page -->
        <span>{{ site.data.locales[include.lang].tabs.home | capitalize }}</span>

      {% else %}
        {% for item in paths %}
          {% if forloop.first %}
            <span>
              <a href="{{ '/' | relative_url }}">
                {{ site.data.locales[include.lang].tabs.home | capitalize }}
              </a>
            </span>

          {% elsif forloop.last %}
            {% if page.collection == 'tabs' %}
              <span>{{ site.data.locales[include.lang].tabs[item] | default: page.title }}</span>
            {% else %}
              <span>{{ page.title }}</span>
            {% endif %}

          {% elsif page.layout == 'category' or page.layout == 'tag' %}
            <span>
              <a href="{{ item | relative_url }}">
                {{ site.data.locales[include.lang].tabs[item] | default: page.title }}
              </a>
            </span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </span>
    <!-- endof #breadcrumb -->

    <i id="sidebar-trigger" class="fas fa-bars fa-fw"></i>

    <div id="topbar-title">
      {% if page.layout == 'home' %}
        {{- site.data.locales[include.lang].title | default: site.title -}}
      {% elsif page.collection == 'tabs' or page.layout == 'page' %}
        {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
        {{- site.data.locales[include.lang].tabs[tab_key] | default: page.title -}}
      {% else %}
        {{- site.data.locales[include.lang].layout[page.layout] | default: page.layout | capitalize -}}
      {% endif %}
    </div>

    <!--
    <i id="search-trigger" class="fas fa-search fa-fw"></i>
    <span id="search-wrapper" class="align-items-center">
      <i class="fas fa-search fa-fw"></i>
      <input
        class="form-control"
        id="search-input"
        type="search"
        aria-label="search"
        autocomplete="off"
        placeholder="{{ site.data.locales[include.lang].search.hint | capitalize }}..."
      >
    </span>
    <span id="search-cancel">{{ site.data.locales[include.lang].search.cancel }}</span>
    -->

    <!-- orion-gz Customize -->
    <!-- new Search bar -->
    <form action="" id="search-wrapper">
      <input
        class="form-control"
        id="search-input"
        type="search"
        aria-label="search"
        autocomplete="off"
        placeholder="{{ site.data.locales[include.lang].search.hint | capitalize }}..."
      >
      <i class="ico fa fa-search"></i>
    </form>
     <!-- orion-gz Customize -->
     
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
<script>
  /*
    orion-gz Customize
    topbar hide
  */
  $(function() {

  const topbarWrapper = $("#topbar-wrapper");
  const toc = $("#toc-wrapper");
  const access = $(".access");
  const searchInput = $("#search-input");

  let didScroll;
  let lastScrollTop = 0;

  const delta = 5;
  const topbarHeight = topbarWrapper.outerHeight();

  function hasScrolled() {
    var st = $(this).scrollTop();

    /* Make sure they scroll more than delta */
    if (Math.abs(lastScrollTop - st) <= delta) {
      return;
    }

    if (st > lastScrollTop && st > topbarHeight) {
      /* Scroll Down */
      topbarWrapper.addClass("hide");

      if (toc.length > 0) {
        toc.removeClass("hide");
      }

      if (access.length > 0) {
        access.removeClass("hide");
      }

      if (searchInput.is(":focus")) {
        searchInput.blur(); /* remove focus */
      }

    } else if (st + $(window).height() < $(document).height()) {
      /* Scroll Up */
      topbarWrapper.removeClass("hide");
      if (toc.length > 0) {
        toc.removeClass("hide");
      }
      if (access.length > 0) {
        access.removeClass("hide");
      }
    }

    lastScrollTop = st;
  }

  $(window).scroll(function(event) {
    /* if ($("#topbar-title").is(":hidden"))  /* Not in small screens */
      didScroll = true;
  });
  
  setInterval(function() {
    if (didScroll) {
      hasScrolled();
      didScroll = false;
    }
  }, 250);

});</script>